<template>
  <div>
    <h2>{{ t('Title.Test') }}</h2>
    <p>{{ $t('Global.Goo') }}</p>
    <p>{{ t('Global.Settings') }}</p>
    <p>{{ t('Global.File') }}</p>
  </div>
</template>

<script setup lang="ts">
import { t } from '../locale'
</script>
